html,
body {
  margin: 0;
  background-color: white;
}

.cal-container {
  color: #000000de;
}

.cal-header-text {
  cursor: pointer;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #000000de;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
}

.cal-header-back {
  padding: 10px 15px;
  text-align: left;
}

.cal-header-next {
  padding: 10px 15px;
  text-align: right;
}

.cal-week-header-cell {
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px #22242626;
  color: #000000de;
  text-align: center;
}

.year-grid-table {
  border: solid 1px #22242626;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  height: 500px;
}

.year-grid-table-cell {
  border: solid 1px #22242626;
  width: 25%;
}

.year-grid-table-cell-btn {
  border: solid 1px #22242626 !important;
  font-size: 16px !important;
}

.month-grid-table {
  border: solid 1px #22242626;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  height: 500px;
}

.month-grid-table-cell {
  border: solid 1px #22242626;
  width: 25%;
}

.month-grid-table-cell-btn {
  border: solid 1px #22242626 !important;
  font-size: 16px !important;
}

.day-grid-table {
  table-layout: fixed !important;
  border: solid 1px #22242626;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  height: 500px;
}

.day-grid-table-cell {
  min-height: 80px;
  height: 80px !important;
  border: solid 1px #22242626;
}

.day-grid-table-cell-btn {
  border: solid 1px #22242626 !important;
  font-size: 16px !important;
}

.year-grid-table-cell-btn,
.month-grid-table-cell-btn,
.day-grid-table-cell-btn {
  border-radius: 0 !important;
  border: none;
  padding: 0 5px 0 !important;
  background-color: transparent !important;
}

.day-grid-table-cell-btn.selected {
  color: white !important;
  background-color: #D35447 !important;
}

.year-grid-table-cell,
.month-grid-table-cell,
.day-grid-table-cell {
  padding: 0;
  border: none;
}
